body {
  font-family: sans-serif;
  max-width: 70em;
  margin: 1em auto;
  padding: 0 10px;
  background-color: black;
  color: #EEEEEE;
}

a {
  color: #9999EE;
}

a:hover, a:active {
  color: #CCCCFF;
}

